<div class="blog-masthead" ng-controller = "navigationCtrl">
      <div class="container">
        <nav class="blog-nav">
          <div class = "menu-container">
          <a class="blog-nav-item " ng-class = "{active : isActive('js')}" ng-href="#/articles/js">JAVASCRIPT</a>
          <a class="blog-nav-item"  ng-class = "{active : isActive('css')}"  ng-href="#/articles/css">CSS</a>
          <a class="blog-nav-item"  ng-class = "{active : isActive('latest')}"  ng-href="#/articles/latest">LATEST</a>
          <a class="blog-nav-item"  ng-class = "{active : isActive('html')}"  ng-href="#/articles/html">HTML</a>
          <a class="blog-nav-item"  ng-class = "{active : isActive('design')}"  ng-href="#/articles/design">DESIGN</a>
           <a class="blog-nav-item" ng-href="#/new-article">NEW POST</a>
          </div>
        </nav>
      </div>
    </div>